<div class="contenedor animated fadeIn">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700"> 
  <p align="center" class="main-container parrafo">Sprint</p>


  <div class="ccss row">
    <div class="container">
      <ng-template #content let-c="close" let-d="dismiss" class="animated fadeIn">
          <div class="modal-header">
            <h4 class="modal-title">Metas</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body animated fadeIn">
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <table class="table table-active">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Abrir</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Inicio</th>
                            <th scope="col">Entrega</th>
                            <th scope="col">Solicitud</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Desarrollador</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <a (click)="isCollapsed1 = !isCollapsed1" [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample1">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                              </a>
                            </td>
                            <td>Titulo de la Meta</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime, est doloribus impedit temporibus iure, expedita at esse quis quo sed tempora totam. Odio voluptas quaerat consectetur, nisi quo officiis?</td>
                            <td>(01-01-1290)</td>
                            <td>(31-12-2015)</td>
                            <td>(15-09-1821)</td>
                            <td>Contabilidad</td>
                            <td>Edwin Tumax</td>
                          </tr>
                          <tr id="collapseExample1" [ngbCollapse]="!isCollapsed1">
                            <td colspan=100%>
                              <div class="row ccss animated fadeIn">
                                  <div class="col-sm-12 col-lg-12">
                                      <table class="table table-active">
                                          <thead class="thead-dark">
                                            <tr>
                                              <th scope="col">#</th>
                                              <th scope="col">Nombre</th>
                                              <th scope="col">Descripcion</th>
                                              <th scope="col">Inicio</th>
                                              <th scope="col">Entrega</th>
                                              <th scope="col">Opciones</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th scope="row">1</th>
                                              <td>Titulo de la Meta</td>
                                              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime, est doloribus impedit temporibus iure, expedita at esse quis quo sed tempora totam. Odio voluptas quaerat consectetur, nisi quo officiis?</td>
                                              <td>(01-01-1290)</td>
                                              <td>(31-12-2015)</td>
                                              <td>
                                                <button type="button" class="btn btn-warning btn-block"><i class="fa fa-pencil-square-o"></i></button>
                                              </td>
                                            </tr>
                                            <tr>
                                              <th scope="row">2</th>
                                              <td>Titulo de la Meta</td>
                                              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime, est doloribus impedit temporibus iure, expedita at esse quis quo sed tempora totam. Odio voluptas quaerat consectetur, nisi quo officiis?</td>
                                              <td>(01-01-1290)</td>
                                              <td>(31-12-2015)</td>
                                              <td>
                                                <button type="button" class="btn btn-warning btn-block"><i class="fa fa-pencil-square-o"></i></button>
                                              </td>
                                            </tr>
                                            <tr>
                                              <th scope="row">3</th>
                                              <td>Titulo de la Meta</td>
                                              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime, est doloribus impedit temporibus iure, expedita at esse quis quo sed tempora totam. Odio voluptas quaerat consectetur, nisi quo officiis?</td>
                                              <td>(01-01-1290)</td>
                                              <td>(31-12-2015)</td>
                                              <td>
                                                <button type="button" class="btn btn-warning btn-block"><i class="fa fa-pencil-square-o"></i></button>              </td>
                                            </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample2">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                              </a>
                            </td>
                            <td>Titulo de la Meta</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime, est doloribus impedit temporibus iure, expedita at esse quis quo sed tempora totam. Odio voluptas quaerat consectetur, nisi quo officiis?</td>
                            <td>(01-01-1290)</td>
                            <td>(31-12-2015)</td>
                            <td>(15-09-1821)</td>
                            <td>Contabilidad</td>
                            <td>Edwin Tumax</td>
                          </tr>
                          <tr id="collapseExample2" [ngbCollapse]="!isCollapsed2">
                            <td colspan=100%>
                              <div class="row ccss animated fadeIn">
                                  <div class="col-sm-12 col-lg-12">
                                      <table class="table table-active">
                                          <thead class="thead-dark">
                                            <tr>
                                              <th scope="col">#</th>
                                              <th scope="col">Nombre</th>
                                              <th scope="col">Descripcion</th>
                                              <th scope="col">Inicio</th>
                                              <th scope="col">Entrega</th>
                                              <th scope="col">Opciones</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th scope="row">1</th>
                                              <td>Titulo de la Meta</td>
                                              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime, est doloribus impedit temporibus iure, expedita at esse quis quo sed tempora totam. Odio voluptas quaerat consectetur, nisi quo officiis?</td>
                                              <td>(01-01-1290)</td>
                                              <td>(31-12-2015)</td>
                                              <td>
                                                <button type="button" class="btn btn-warning btn-block"><i class="fa fa-pencil-square-o"></i></button>
                                              </td>
                                            </tr>
                                            <tr>
                                              <th scope="row">2</th>
                                              <td>Titulo de la Meta</td>
                                              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime, est doloribus impedit temporibus iure, expedita at esse quis quo sed tempora totam. Odio voluptas quaerat consectetur, nisi quo officiis?</td>
                                              <td>(01-01-1290)</td>
                                              <td>(31-12-2015)</td>
                                              <td>
                                                <button type="button" class="btn btn-warning btn-block"><i class="fa fa-pencil-square-o"></i></button>
                                              </td>
                                            </tr>
                                            <tr>
                                              <th scope="row">3</th>
                                              <td>Titulo de la Meta</td>
                                              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime, est doloribus impedit temporibus iure, expedita at esse quis quo sed tempora totam. Odio voluptas quaerat consectetur, nisi quo officiis?</td>
                                              <td>(01-01-1290)</td>
                                              <td>(31-12-2015)</td>
                                              <td>
                                                <button type="button" class="btn btn-warning btn-block"><i class="fa fa-pencil-square-o"></i></button>              </td>
                                            </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a (click)="isCollapsed3 = !isCollapsed3" [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseExample3">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                              </a>
                            </td>
                            <td>Titulo de la Meta</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime, est doloribus impedit temporibus iure, expedita at esse quis quo sed tempora totam. Odio voluptas quaerat consectetur, nisi quo officiis?</td>
                            <td>(01-01-1290)</td>
                            <td>(31-12-2015)</td>
                            <td>(15-09-1821)</td>
                            <td>Contabilidad</td>
                            <td>Edwin Tumax</td>
                          </tr>
                          <tr id="collapseExample3" [ngbCollapse]="!isCollapsed3">
                            <td colspan=100%>
                              <div class="row ccss animated fadeIn">
                                  <div class="col-sm-12 col-lg-12">
                                      <table class="table table-active">
                                          <thead class="thead-dark">
                                            <tr>
                                              <th scope="col">#</th>
                                              <th scope="col">Nombre</th>
                                              <th scope="col">Descripcion</th>
                                              <th scope="col">Inicio</th>
                                              <th scope="col">Entrega</th>
                                              <th scope="col">Opciones</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th scope="row">1</th>
                                              <td>Titulo de la Meta</td>
                                              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime, est doloribus impedit temporibus iure, expedita at esse quis quo sed tempora totam. Odio voluptas quaerat consectetur, nisi quo officiis?</td>
                                              <td>(01-01-1290)</td>
                                              <td>(31-12-2015)</td>
                                              <td>
                                                <button type="button" class="btn btn-warning btn-block"><i class="fa fa-pencil-square-o"></i></button>
                                              </td>
                                            </tr>
                                            <tr>
                                              <th scope="row">2</th>
                                              <td>Titulo de la Meta</td>
                                              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime, est doloribus impedit temporibus iure, expedita at esse quis quo sed tempora totam. Odio voluptas quaerat consectetur, nisi quo officiis?</td>
                                              <td>(01-01-1290)</td>
                                              <td>(31-12-2015)</td>
                                              <td>
                                                <button type="button" class="btn btn-warning btn-block"><i class="fa fa-pencil-square-o"></i></button>
                                              </td>
                                            </tr>
                                            <tr>
                                              <th scope="row">3</th>
                                              <td>Titulo de la Meta</td>
                                              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime, est doloribus impedit temporibus iure, expedita at esse quis quo sed tempora totam. Odio voluptas quaerat consectetur, nisi quo officiis?</td>
                                              <td>(01-01-1290)</td>
                                              <td>(31-12-2015)</td>
                                              <td>
                                                <button type="button" class="btn btn-warning btn-block"><i class="fa fa-pencil-square-o"></i></button>              </td>
                                            </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
          </div>
          <div class="modal-footer animated fadeIn">
            <button type="button" class="btn btn-dark" (click)="c('Close click')">Close</button>
          </div>
      </ng-template>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo itaque ipsum id quis quia obcaecati, sapiente libero facere cupiditate minus dolore at iusto tempora tenetur, inventore quo sint, quaerat nobis?</p>
              <p class="card-text">Inicio: <small>(01-01-1290)</small></p>
              <p class="card-text">Entrega: <small>(31-12-2015)</small></p>
                <button type="button" class="btn btn-primary btn-block" (click)="open(content)">
                  Ver las metas...
                </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo itaque ipsum id quis quia obcaecati, sapiente libero facere cupiditate minus dolore at iusto tempora tenetur, inventore quo sint, quaerat nobis?</p>
              <p class="card-text">Inicio: <small>(01-01-1290)</small></p>
              <p class="card-text">Entrega: <small>(31-12-2015)</small></p>
                <button type="button" class="btn btn-primary btn-block" (click)="open(content)">
                  Ver las metas...
                </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo itaque ipsum id quis quia obcaecati, sapiente libero facere cupiditate minus dolore at iusto tempora tenetur, inventore quo sint, quaerat nobis?</p>
              <p class="card-text">Inicio: <small>(01-01-1290)</small></p>
              <p class="card-text">Entrega: <small>(31-12-2015)</small></p>
                <button type="button" class="btn btn-primary btn-block" (click)="open(content)">
                  Ver las metas...
                </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  </div>
  