.modal-content {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 400ms; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 400ms;
    transition: 500ms;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {transform: translate(0, -100%);}
    to {transform: translate(0, 0);}
}
