<div class="contenedor animated fadeIn">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700"> 
  <p align="center" class="main-container parrafo">Mis Tickets</p>


    <div class="ccss row">
      <div class="container">
        <ng-template #content let-c="close" let-d="dismiss" class="animated fadeIn">
            <div class="modal-header">
              <h4 class="modal-title">Nuevo Ticket</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                      <label for="FormControlInput">TItulo</label>
                      <input type="text" class="form-control" id="FormControlInput" placeholder="Escribe el asunto...">
                    </div>
                    <div class="form-group">
                      <label for="FormControlTextarea">Descripcion</label>
                      <textarea class="form-control" id="FormControlTextarea" rows="3" placeholder="Describe el asunto..."></textarea>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success">Agregar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer animated fadeIn">
              <button type="button" class="btn btn-dark" (click)="c('Close click')">Close</button>
            </div>
        </ng-template>
        <button class="btn btn-lg btn-primary" (click)="open(content)"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    </div>


  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo itaque ipsum id quis quia obcaecati, sapiente libero facere cupiditate minus dolore at iusto tempora tenetur, inventore quo sint, quaerat nobis?</p>
                <button type="button" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i></button> <button type="button" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo itaque ipsum id quis quia obcaecati, sapiente libero facere cupiditate minus dolore at iusto tempora tenetur, inventore quo sint, quaerat nobis?</p>
                <button type="button" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i></button> <button type="button" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo itaque ipsum id quis quia obcaecati, sapiente libero facere cupiditate minus dolore at iusto tempora tenetur, inventore quo sint, quaerat nobis?</p>
                <button type="button" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i></button> <button type="button" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
