<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">ScrumApp</a>
    <button (click)="collapse()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
  
    <div class="collapse navbar-collapse collapsed animated fadeIn fast" id="navbarSupportedContent" [ngClass]="{'show': isCollapsed}">
      <ul class="navbar-nav mr-auto animated fadeIn fast">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['login']">Login</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['tickets']">Tickets</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['usuario']">Usuario</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['sprint']">Desarrollador</a>
          </li>
      </ul>
    </div>
  </nav>