<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
<div class="contenedor animated fadeIn">
  <p align="center" class="main-container parrafo">Usuarios</p>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card animated fadeIn fast">
          <img class="card-img-top" src="../../assets/img/spiderman.png" alt="Spiderman">
            <div class="card-body">
              <h4 class="card-title">Spiderman</h4>
                <p class="card-text">Super humano que posee las habilidades de un aracnido</p>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card animated fadeIn fast">
          <img class="card-img-top" src="../../assets/img/batman.png" alt="Batman">
            <div class="card-body">
              <h4 class="card-title">Batman</h4>
                <p class="card-text">Humano sin poderes pero con habilidades increibles</p>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card animated fadeIn fast">
          <img class="card-img-top" src="../../assets/img/hulk.png" alt="Hulk">
            <div class="card-body">
              <h4 class="card-title">Hulk</h4>
                <p class="card-text">Humano que cuando se enoja se convierte en un mostruo grande y verde</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
