<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
<div class="contenedor animated fadeIn">
  <p align="center" class="main-container parrafo">Inicie Sesión</p>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-3"></div>
      <div class="col-md-8 col-lg-6">
          <form class="form">
              <div class="form-group">
                <label for="InputUser">UserName</label>
                <input type="text" class="form-control" id="InputUser" placeholder="Enter UserName">
              </div>
              <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" id="InputPassword" placeholder="Password">
              </div>
              <button type="button" class="btn btn-success">LogIn</button>
          </form>
        </div>
      <div class="col-md-2 col-lg-3"></div>
    </div>
  </div>
</div>
