/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 20px;
  }

form {
    padding: 1em;
    border-radius: 1em;
}

navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.card {
    height: 300px;
    overflow: auto;
}

.form {
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.main-container{
    margin-top: 20px;
}

.css {
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.ccss {
    margin: 0 auto;
    padding: 1em;
}

.parrafo {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/*Animaciones*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  